:root {
    --gren: #1C9675;
    --white: #F6F7F9;

    --fuente: Overpass;
}

.input-container {

    /* display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    width: 94px;
    padding: 10px 16px; */
}

.title {
    margin: 75px calc(543px - 50px) 25px calc(543px - 50px);
    color: var(--white);
    font-family: var(--fuente);
    font-size: 40px;
    font-weight: 900;
}

.input-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 25px 0;
}

.input {
    display: flex;
    width: 587px;
    padding: 16px 20px;
    align-items: flex-start;
    gap: 10px;
}

.button {
    display: flex;
    width: 94px;
    padding: 10px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 0px 10px 10px 0px;
    background: var(--gren);
}