:root {
  --fondo: #1B1C1F;
  --white: #F6F7F9;

  --md: 16px;
}

.App {
  background-color: var(--fondo);
  display: flex;
  display: grid;
  grid-column: auto;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.text-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  font-size: var(--md);
  border-radius: 10px;
  border: 1px solid var(--white);
  background: var(--white);
  display: flex;
  width: 334px;
  padding: 10px 16px;
  margin: 20px 5px;
  align-items: flex-start;
  gap: 10px;
}